---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}




<h2>Under Review</h2><hr />

<p><b>Curated collectives of conspiracism: The co-construction of (paranoid) misogyny in X's 'Incel Talk' community</b><br />
Piotr Marczyński and Mathilda Åkerlund<br />
<i>Revise &amp; Resubmit at Social Media + Society</i></p>

<p><b>Trending by design: How algorithmic activists amplified and recalibrated an elite anti-Ukrainian campaign on X</b><br />
Piotr Marczyński<br />
<i>Revise &amp; Resubmit at European Journal of Communication</i></p>

<p><b>Beyond left and right: Cultural conservatism, immigration attitudes, and conspiracy mentality in comparative perspective</b><br />
Nathalie Brack, Piotr Marczyński, Anam Kuraishi, and Jean-Benoit Pilet<br />
<i>Under review at British Journal of Political Science</i></p>
